  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="row">
      <div class="col-md-5">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">kort&#333;s</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li>
            <a href="/urls/new">sh&#333;rten</a>
          </li>
          <li>
            <a href="/about">ab&#333;ut</a>
          </li>
          <li>
            <a href="/urls">public kort&#333;s</a>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
    <div class="col-md-2 user" style="display: <%=viewLogout%>;">
    <% if(uname) {%><%=`hello, ${uname}!`%><%}%>
    </div>
    <div class="col-md-5" style="display: inline-block; margin: 8px 0px; display: <%=viewLogin%>;">
      <form action="/login" method="POST" style="float: right;">
      <input id="user" type="text" name="uname" placeholder="username" style="width: 300px;">
      <input type="submit" value="login">
    </form>
    </div>
    <div class="col-md-5" style="display: inline-block; margin: 8px 0px; display: <%=viewLogout%>;">
      <form action="/logout" method="POST" style="float: right;">
      <button class="btn btn-danger">logout</button>
    </form>
    </div>
  </div>
    </div> <!-- /.container -->
  </nav>
