<!doctype html>
<html lang="en">
<head>
  <% include ./partials/_head %>
</head>
<body>
<div class="container">
  <header>
    <% include ./partials/_header %>
  </header>
    <!-- Add your EJS code here -->
  <div class="row">
    <div class="col-md-5">
      <img src="/404.png" width="350px" style="margin: 20px 0px 20px 10px;"/>
    </div>
    <div class="col-md-7">
      <h1>404: not found :/</h1>
      <h4>
      Oops. <br/>
      Something obviously isn’t right if you’re reading this. </h4>
      <h4>The URL you entered or followed seems to no longer <em>exist</em>, has been <em>removed</em>, or is <em>broken</em>. If you feel that this an error that needs to be addressed, feel free to contact the administrator of this website.</h4>

    </div>
  </div>

  <footer>
    <% include ./partials/_footer %>
  </footer>
</div>
</body>
</html>