<!doctype html>
<html lang="en">
<head>
  <% include ./partials/_head %>
</head>
<body>
<div class="container">
  <header>
    <% include ./partials/_header %>
  </header>
    <!-- Add your EJS code here -->
  <div class="row">
    <div class="col-md-4">
      <img src="/tinyURL.png" width="200px" style="margin: 20px 0px 0px 50px;"/>
    </div>
    <div class="col-md-8">
      <h3>About Tiny App</h3>
      <p>This three-day project will have you building a tiny (pun intended) web app using Node. The app will allow users to shorten long URLs much like TinyURL.com, bit.ly, and the like.</p>

      <p>Unlike last project where you build an HTTP Client which makes requests to the GitHub server, this one will have you building the HTTP Server to handle requests from the browser (client).</p>

      <p>You'll get introduced to some more advanced JavaScript and node concepts and also learn more about Express, a mini web framework which is extremely popular in the node community.</p>

      <p>By the end of the week you will hopefully also have deployed it the "Cloud" so that anyone can use it.</p>
    </div>
  </div>

  <footer>
    <% include ./partials/_footer %>
  </footer>
</div>
</body>
</html>