<% include ./partials/_head %>
<body>
<div class="container">
  <header>
    <% include ./partials/_header %>
  </header>
    <!-- Add your EJS code here -->
  <div class="row">
    <div class="col-md-4">
      <img src="img/korto.png" width="200px" style="margin: 0px 0px 0px 50px;"/>
    </div>
    <div class="col-md-8 content-transparency">
      <h3>about kort&#333;s</h3>

      <p>kort&#333;s is a link shortening service aiming to make your link sharing needs easier. </p>

    </div>
  </div>

  <footer>
    <% include ./partials/_footer %>
  </footer>
</div>
</body>
</html>