<% include ./partials/_head %>
<body>
<% include ./partials/_header %>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h1>kort&#333;s</h1>
                <p>turn your long links into kort&#333;s</p>
            </div>
        </div>
        <!-- /.row -->
    </div>
<% include ./partials/_footer %>

</body>

</html>
