<link href="/css/bootstrap.min.css" rel="stylesheet">
<div class="container" style="margin: auto; max-width: 600px;">
<div class="panel panel-danger" style="margin: 30% 0 0 0;">
<div class="panel-heading">
<h3 class="panel-title">404 Not Found</h3>
</div>
<div class="panel-body">
<p> The origin server did not find a current representation for the target resource or is not willing to disclose that one exists.</p>
<p> <em>RFC 7231 Section 6.5.4 Fielding, et al.</em></p>
<br />
<p class="text-muted"> <strong>Reason:</strong> <em>http://localhost:8080/<%=page%></em> does not exist</p><a href="/"><button type="button" class="btt btn-danger">Return to homepage</button></a></div></div></div>