<link href="/css/bootstrap.min.css" rel="stylesheet">
<div class="container" style="margin: auto; max-width: 600px;">
<div class="panel panel-danger" style="margin: 30% 0 0 0;">
<div class="panel-heading">
<h3 class="panel-title">403 Forbidden</h3>
</div>
<div class="panel-body">
<p> The server understood the request but refuses to authorize it.</p>
<p> <em>RFC 7231 Section 6.5.3</em></p>
<br />
<p class="text-muted"> <strong>Reason:</strong> You do not own the resource at <em>http://localhost:8080/<%=page%></em></p><a href="/"><button type="button" class="btt btn-danger">Return to your path</button></a></div></div></div>

