<link href="/css/bootstrap.min.css" rel="stylesheet">
<div class="container" style="margin: auto; max-width: 600px;">
<div class="panel panel-danger" style="margin: 30% 0 0 0;">
<div class="panel-heading">
<h3 class="panel-title">400 Bad Request</h3>
</div>
<div class="panel-body">
<p> The request could not be understood by the server due to malformed syntax, invalid request message framing, or deceptive request routing. </p>
<p> The client <strong>SHOULD NOT</strong> repeat the request without modifications.</p>
<p> <em>RFC 7231 Section 6.5.1</em></p><br />
<p class="text-muted"> <strong>Reason:</strong> <%=msg%></p><%if (forgot) {%><p class="text-danger"> <strong>Did you forget your password?</strong> Email the site admin for assistance. </p><%}%><button type="button" class="btt btn-danger" onclick="goBack()">Try Again</button></div></div></div><script>function goBack() { window.history.back(); }</script>