<link href="/css/bootstrap.min.css" rel="stylesheet">
<div class="container" style="margin: auto; max-width: 600px;">
<div class="panel panel-danger" style="margin: 30% 0 0 0;">
<div class="panel-heading">
<h3 class="panel-title">401 Unauthorized</h3>
</div>
<div class="panel-body">
<p> The request has not been applied because it lacks valid authentication credentials for the target resource.</p>
<p> <em>RFC 7235 Section 3.1</em></p>
<br />
<p class="text-muted"> <strong>Reason:</strong> <em>wrong credentials</em></p><a href="/login"><button type="button" class="btt btn-danger">Login</button></a></div></div></div>