<% include ./partials/_head %>
<body>
<% include ./partials/_header %>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h1>hi <%=username.toLowerCase()%></h1>
                <p>turn your long links into kort&#333;s</p>
            </div>
        </div>
        <div class="home-shortner">
            <form action="/urls" method="POST">
              <div class="form-group">
                <label for="longURL">Enter a URL:</label>
                <input id="longURL" type="text" name="longURL" placeholder="http://" style="max-width: 500px">
              </div>
              <input type="submit" value="Submit">
            </form>
        </div>
        <!-- /.row -->
    </div>
<% include ./partials/_footer %>

</body>

</html>