<% include ./partials/_head %>
<body>
<% include ./partials/_header %>

    <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 content-transparency main-box">
        <h1>register with kort&#333;s</h1>
        <p>Get the most out of your kort&#333; links by creating an account with us. Here are some of the benefits you get with a registered account:</p>

        <ul>
          <li>A list of all your kort&#333;s</li>
          <li>Ability to edit or delete any of your kort&#333;s</li>
          <li>Detailed metrics of all your kort&#333;s</li>
          <li>Ability to customize the text of your kort&#333;s</li>
        </ul>

        <div class="user-register">
          <form action="/register" method="POST" style="max-width: 300px">
            <div class="form-group">
              <label for="user">user</label>
              <input id="user" type="text" name="user" placeholder="what should we call you?" required>
            </div>
            <div class="form-group">
              <label for="email">email</label>
              <input id="email" type="text" name="email" placeholder="you@example.com">
            </div>
            <div class="form-group">
              <label for="password">password</label>
              <input id="password" type="password" name="password" placeholder="* * * *">
            </div>

            <button class="btn btn-success">join kort&#333;s</button>
          </form>
        </div>

      </div>
    </div>





    <!-- /.row -->
  </div>
<% include ./partials/_footer %>

</body>

</html>